Honors_Research_Proposal.aux
Honors_Research_Proposal.log
Honors_Research_Proposal.synctex.gz
Honors_Research_Proposal.out
Honors_Research_Proposal.toc
Honors_Research.aux
Honors_Research.log
Honors_Research.synctex.gz
Honors_Research.out
Honors_Research.toc
