.classpath
.project
.gradle/
build/

# Java Class files
*.class

# TeX files
*.aux
*.log
*.synctex.gz
*.out
*.toc
*.bbl
*.blg
*.lof



# my stuff
*.html
docs/src/*

# Python
*.pyc
src/outputs/*
src/logs/*
src/env/
